<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/libs/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/libs/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/libs/iCheck/square/blue.css}"/>
    <link rel="stylesheet" th:href="@{/libs/validate/validate.css}"/>
    <link rel="stylesheet" th:href="@{/libs/theme/zblog/css/web-common.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
</head>
<body>
<div class="main-content login-content">
	<div class="login-bg" id="login_bg"></div>
	<div class="login-box">
		<form id="loginForm" class="login-form">
			 <div class="login-title">用户登录</div>
			  <div class="form-group has-feedback">
			  	<input type="text" name="username"  class="form-control" placeholder="用户名"  max="14" min="3" require="必填项" >
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
			  </div>
			  <div class="form-group has-feedback">
			  	<input  name="password"  type="password" class="form-control" placeholder="密码"  require="必填项" nochinese="密码不能包括中文" >
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
			  </div>
			  <div class="form-group has-feedback vcode">
			  	<div class="vcode-content">
                    <input type="text"  name="verification"  class="form-control vcode-input" placeholder="验证码" require="必填项" data-position="position-a">
                    <span class="fa fa-key vcode-icon form-control-feedback"></span>
                </div>
                  	验证码图片组件
			  </div>
			  <div class="row">
			  	<div class="col-xs-8"></div>
			  	<div class="col-xs-4">
                    <button id="loginBtn" type="button" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
			  </div>
		</form>
	</div>
</div>
</body>
</html>